.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
}
.products-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px 10px;
}

/* .cart-container{
    
} */