.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
}
.products-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px 10px;
}

.text-container{
    font-size: smaller;
    font-size: 25px;
    color: limegreen;
}
.heading{
    margin-top: 0;
    margin-bottom: 0;
}