.cart{
    position: sticky;
    top: 8px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 0;
    background-color: hotpink;
    height: 450px;
    border-top-left-radius: 15px;
    border-end-start-radius: 15px;
}
.text{
    padding: 10px;
    color: white;
}
.cart-child{
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* padding: 10px; */
    margin-top: 0px;
    margin-bottom: 0px;
   
}
.cart-child img{
    border-radius: 50%;
    border: 1px solid black;
}

.image{
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.cart-text{
    margin-top: 13px;
    margin-bottom: 5px;
}
.cart-button{
    margin-top: 10px;
    justify-content: left;
    color: aliceblue;
    height: 30px;
    margin-right: 80px;
    background-color: green; 
    border: none;
    border-radius: 3px; 
}
.btn-remove{
    margin: 15px;
    color: aliceblue;
    height: 30px;
    margin-right: 120px;
    background-color: red; 
    border: none;
    border-radius: 3px; 
    text-align: center;
}

