.product-container{
    border: 1px solid thistle;
    margin: 20px;
    border-radius: 6px;
    padding: 10px
}
.product-container img{
    height: 280px;
    width: 250px;
}

.button{
    margin: 0;
    width: 100%;
    background-color: seagreen; 
    border: none;
    border-radius: 3px;
}
.p-text{
    color: aliceblue;
}